.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
}
#page-title{
    background-color: grey;
    color: black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}
.description {
    width: 50%;
}
.app-period {
    width: 10%;
}
tr {
    outline: thin solid;
}
.programName {
    width: 15%;
}
.agencyName {
    width: 15%
}
.apply {
    width: 20%;
}